*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins;
background:#f7f3ee;
overflow-x:hidden;

}

.opening{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#1d1d1d;

color:white;

text-align:center;

transition:1s;

}

.envelope{

font-size:90px;

margin-bottom:20px;

animation:float 2s infinite;

}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0);}

}

button{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:30px;

background:#b88d65;

color:white;

font-size:17px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

.content{

display:none;

padding:80px 20px;

text-align:center;

animation:fade 2s;

}

.photo{

width:260px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

margin-bottom:40px;

}

.paper{

max-width:700px;

margin:auto;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 0 30px rgba(0,0,0,.1);

line-height:35px;

}

.paper h2{

font-family:"Cormorant Garamond";

font-size:45px;

margin-bottom:25px;

}

#typing{

font-size:18px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}